$default-color: #191f20;
$primary-color: #1284e7;

.mx-datepicker {
  position: relative;
  display: inline-block;
  width: auto;
  color: $default-color;
  font: inherit;
  * {
    box-sizing: border-box;
  }
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
.mx-datepicker-range {
  width: 320px;
}

.mx-datepicker-popup {
  position: absolute;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: #fafafa;
  z-index: 1000;
  left: 50%!important;
  transform: translateX(-50%);
}

.mx-input-wrapper {
  position: relative;
  .current {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
  .mx-clear-wrapper {
    display: none;
  }
  &:hover {
    .mx-clear-wrapper {
      display: block;
    }
  }
}

.mx-input {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #485254;
  background-color: rgba(72, 82, 84, 0.1);
  border: none;
  border-bottom: 1px solid #485254;
  &:disabled,
  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}

.mx-input-append {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  padding: 10px 6px;
  cursor: pointer;
  background-color: transparent;
  background-clip: content-box;
  text-align: center;
  font-size: 20px;
}

.mx-input-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-style: normal;
  color: #555;
  text-align: center;
  cursor: pointer;
}

.mx-calendar-icon {
  width: 100%;
  height: 100%;
  color: #555;
  stroke-width: 8px;
  stroke: currentColor;
  fill: currentColor;
}

.mx-clear-icon {
  &::before {
    display: inline-block;
    content: '\2716';
    vertical-align: middle;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}

.mx-range-wrapper {
  width: 668px;
  overflow: hidden;
}

.mx-shortcuts-wrapper {
  text-align: left;
  padding: 0 12px;
  line-height: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  .mx-shortcuts {
    font-size: 12px;
    background: none;
    outline: none;
    border: 0;
    color: inherit;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: rgba(46, 89, 97, 0.8);
    }
  }
}

.mx-datepicker-footer {
  padding: 4px;
  clear: both;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.mx-datepicker-btn {
  font-size: 12px;
  line-height: 1;
  padding: 7px 15px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 3px;
}
.mx-datepicker-btn-confirm {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #73879c;
  &:hover {
    color: #1284e7;
    border-color: #1284e7;
  }
}

/* 日历组件 */
.mx-calendar {
  float: left;
  color: $default-color;
  padding: 12px 36px 36px;
  font: inherit;
  * {
    box-sizing: border-box;
  }
  &:first-child {
    padding-right: 18px;
  }
  &:last-child {
    padding-left: 18px;
  }
}

.mx-calendar-header {
  padding: 0 4px;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  .mx-prev-next {
    padding-top: 30px;
    padding-bottom: 20px;
    a {
      svg {
        width: 16px;
        height: 16px;
        fill: #cccccc;
      }
    }
    .date-year {
      font-size: 16px;
      color: #0d5461;
      text-transform: uppercase;
    }
  }
  .mx-bordered {
    border: 1px solid #cccccc;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    color: #0d5461;

    .date {
      margin: 5px;
    }

    svg {
      width: 14px;
      height: 14px;
      fill: #0d5461;
    }

    a {
      cursor: pointer;

      &:hover span{
        text-decoration: underline;
      }
    }
  }

  > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: mix(#fff, $primary-color, 20%);
    }
  }
  @at-root {
    .mx-icon-last-month,
    .mx-icon-next-month {
      padding: 0 6px;
      cursor: pointer;

      &:hover {
        svg {
          fill: $default-color !important;
        }
      }
    }
    .mx-icon-last-month {
      float: left;
    }
    .mx-icon-next-month {
      float: right;
    }
    .mx-icon-last-year {
      @extend .mx-icon-last-month
    }
    .mx-icon-next-year {
      @extend .mx-icon-next-month
    }
  }
}

.mx-calendar-content {
  width: 280px;
  height: 280px;
  .cell {
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgba(46, 89, 97, 0.8);
    }
    &.actived {
      color: #fff;
      background-color: rgba(46, 89, 97, 0.8);
    }
    &.inrange {
      color: #fff;
      background-color: rgba(46, 89, 97, 0.8);

      &.next-month, &.last-month {
        background-color: #fff;
      }
    }
    &.disabled {
      cursor: not-allowed;
      color: #ccc;
      background-color: #f3f3f3;
    }
  }
}

.mx-panel {
  width: 100%;
  height: 100%;
  text-align: center;
}

.mx-panel-date {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  th {
    color: $default-color;
    font-weight: normal;
  }
  td, th {
    font-size: 14px;
    width: 40px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  td {
    border: 1px solid #ccc;
    background: #fff;
    &.today {
      color: rgba(46, 89, 97, 0.8);
    }
    &.last-month,
    &.next-month {
      font-size: 0;

      &:hover {
        cursor: not-allowed;
        background-color: #fff;
      }
    }
  }
}

.mx-panel-year {
  padding: 7px 0;
  .cell {
    display: inline-block;
    width: 40%;
    margin: 1px 5%;
    line-height: 40px;
  }
}

.mx-panel-month {
  .cell {
    display: inline-block;
    width: 30%;
    line-height: 40px;
    margin: 8px 1.5%;
  }
}

.mx-time-list {
  position: relative; // 定位 offsetParent
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0,0,0,.05);
  border-left: 1px solid rgba(0,0,0,.05);
  overflow-y: auto;
  .mx-time-picker-item {
    display: block;
    text-align: left;
    padding-left: 10px;
  }
  &:first-child {
    border-left: 0;
  }
  .cell {
    width: 100%;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }
  /* 滚动条滑块 */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
